{% extends "base.html" %}
{% set navbar_included = True %}
{% block title %}Account Settings {% endblock %}

{% block content%}

    <script>
    <!-- Script to hide and show the change forms -->
        $(document).ready(function(){
            $(".PasswordChange-Container").hide();
            $(".Delete-Account-Container").hide();

            $(".btn-password").click(function(){
                $(".PasswordChange-Container").toggle();
                $(".Delete-Account-Container").hide();
            });

            $(".btn-delete-account").click(function(){
                $(".Delete-Account-Container").toggle();
                $(".PasswordChange-Container").hide();
            });
        });
    </script>

    <!-- Main Content -->
    <div class="container-fluid content col-md-6 offset-md-3">
        <div class="row font-header-custom">
            <h1 class="text-center font-header-custom">DynaPoint Account Settings</h1>
            <p class="text-center font-header-custom-2">
                Please select your options below</p>
            <hr class="mb-3">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if error_or_warning %}
                    <div class="font-header-error" role="alert">
                        <h1 class="text-center"> {{ error_or_warning['message'] }}</h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <table aria-label="Change Password or Delete Account Options">
        <tr>
            <td>
                <button class ="btn btn-primary btn-password">Change Password</button>
            </td>
            <td>
                <button class ="btn btn-primary btn-delete-account">Delete Account</button>
            </td>
        </tr>
        </table>

        <hr class="mb-3">

        <div class="PasswordChange-Container">
            <form id="password_changer" action="/change_password/{{ session['user_id'] }}" method="post">
            <input type="hidden" name="_method" value="PUT">
            <table aria-label="Change Password">
                <tr>
                    <td>
                        <div class="form-group  ">
                            <label for="new_password" class="font-header-custom-2">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="confirm_password" class="font-header-custom-2">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </td>
                </tr>
            </table>
            </form>
        </div>

        <div class="Delete-Account-Container">
            <form action="/delete_user_endpoint/{{ session['user_id'] }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <p class="font-header-custom-2">Are you sure you want to delete your account?</p>
                <p class="font-header-custom-2">This action cannot be undone</p>
                <button class="btn btn-danger">Confirm DELETE ACCOUNT</button>
            </form>
        </div>
    </div>

{% endblock %}
