{% extends "base.html" %}
{% set navbar_included = True %}

{% block title %}DynaPoint Historical {% endblock %}

{% block content %}
    <! -- This is the HTML for the historical page -->
    <!-- Check if there are any historical presentations to display -->
    {% if historical %}
    <!-- Main Content -->
    <div class="container-fluid content col-md-6 offset-md-3">
        <div class="row font-header-custom">
            <h1 class="text-center font-header-custom">Welcome to DynaPoint Historical Details</h1>
            <p class="text-center font-header-custom-2">
                Here you can retrieve historical presentations.<br>
                Please select from the below on which presentation you
                would like</p>
            <hr class="mb-3">
        </div>

        {%  if information %}
            <div class="font-header-error" role="alert">
                <h1 class="text-center"> {{ information['message'] }}</h1>
            </div>
        {% endif %}

        <table class="table table-dark table-striped table-hover historical-table">
            <tr>
                <th>
                    <h2 class="text-center">Presentation Name</h2>
                </th>
                <th>
                    <h2 class="text-center">Presentation Created Date</h2>
                </th>
                <th>
                    <h2 class="text-center">Presentation Download</h2>
                </th>
                <th>
                    <h2 class="text-center">Presentation Delete</h2>
                </th>
                {% for historical_data in historical['historical_data'] %}
                    <tr>
                        <td>
                            <p class="text-center">{{ historical_data['presentation_name'] }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ historical_data['presentation_time_stamp'] }}</p>
                        </td>
                        <td>
                            <h2 class="text-center">
                                <a href="/historical_endpoint_get_specific_presentation/{{ historical_data['historical_id'] }}">
                                    <button class="btn btn-primary">Download</button>
                                </a>
                            </h2>
                        </td>
                        <td>
                            <h2 class="text-center">
                                <a href="/historical_endpoint_delete_presentation/{{ historical_data['historical_id'] }}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </h2>
                        </td>
                    </tr>
                {% endfor %}
        </table>
        {% elif error_or_warning %}
            <h1 class="text-center font-header-custom">Welcome to DynaPoint Historical Details</h1>
            <div class="font-header-error" role="alert">
                <h1 class="text-center"> {{ error_or_warning['message'] }}</h1>
            </div>
        {% endif %}
    </div>

{% endblock %}