{% extends "base.html" %}
{% set navbar_included = True %}

{% block title %}DynaPoint{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container-fluid content">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center font-header-custom">Welcome to DynaPoint</h1>
            </div>
        </div>

    <table class="index-page-table">
        <tr>
            <td>
                <div class="img-container">
                    <div class="row">
                        <div class="col-12">
                            <img src="../static/Images/Front_Page.jpg" class="img-front-page" alt="Image of a group of
                                    people looking at a presentation" width="512" height="512">
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="font-header-custom-2">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-center">What is DynaPoint?</h1>
                            <h2 class="text-center">DynaPoint is a Dynamic Presentation Creator</h2>
                            <p class="text-center">It allows users to create a Presentation based on input from a Chatbot <br>
                                Using Generative AI, to create a presentation based on user input</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>


    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if error_or_warning %}
                <div class="font-header-error" role="alert">
                    <h1 class="text-center"> {{ error_or_warning['message'] }}</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="Login-In-Container">
        <!-- Login Container, which contains a form, where User can enter a Username & Password
             This then calls the Login endpoint for Verification. If successful the user is taken to the presentation creator page
             Otherwise they are returned and a hidden Error message is displayed -->

        <hr class="mb-3">
        <h1 class="text-center font-header-custom">Login</h1>
        <hr class="mb-3">
        <form id="loginForm" class="row gy-2 gx-3 align-items-center" action="{{ url_for('login') }}" method="POST">
            <table>
                <tr>
                    <td>
                        <div class="col-md-16">
                            <div class="input-group">
                                <div class="input-group-text">@</div>
                                <input type="text" class="form-control" id="username"
                                           placeholder="username" name="username">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-16">
                            <input type="password" class="form-control" id="password"
                                   placeholder="password" name="password">
                        </div>
                    </td>
                    <td>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-login-submit">Submit</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}