<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page 2</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <!-- JQuery -->
        <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <!-- Scripts -->
    <script>
    // Scripts that are run, when page is loaded
        $(document).ready(function () {
                // Hide the Login and Signup Containers
                $(".Login-In-Container").hide();
                $(".Sign-Up-Container").hide();

                // If User Clicks on Login Button - Show the Login Container
                // And hide the Sign-up Container
                $(".button-login").click(function () {
                    $(".Sign-Up-Container").hide();
                    $(".Login-In-Container").show();
                });

                // If User Clicks on Signup Button - Show the Signup Container
                // And hide the Login Container
                $(".button-signup").click(function () {
                    $(".Login-In-Container").hide();
                    $(".Sign-Up-Container").show();
                });
            });
    </script>
</head>


<body class="bg-custom">

<!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            <a class="nav-link" href="#">Sign-Up</a>
            <a class="nav-link" href="#">Login</a>
            <a class="nav-link disabled" aria-disabled="true">Chatbot</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center font-header-custom">Welcome to your DynaPoint</h1>
            </div>
        </div>
    </div>

    <!-- Image -->
    <div class="img-container">
        <div class="row">
            <div class="col-12">
                <img src="../static/Images/Front_Page.jpg" class="img-front-page" alt="Image of a Man sitting at
                    a computer screen with a Chatbot on the screen" width="512" height="512">
            </div>
        </div>
    </div>
    <br> <br>

    <div class="font-header-custom-2">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">What is DynaPoint?</h1>
                <h2 class="text-center">DynaPoint is a Dynamic Presentation Creator</h2>
                <p class="text-center">It allows users to create a Presentation based on input from a Chatbot <br>
                Using Generative AI, to create a presentation based on user input</p>
            </div>
        </div>
    </div>

    <!-- Button -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <button type="button" class="btn btn-info button-signup" aria-pressed="true">Sign-Up</button>
                    <button type="button" class="btn btn-info button-login" aria-pressed="true">Login</button>
                </div>
            </div>
        </div>
    </div>

    <div class="Login-In-Container">
        <!-- Login Container, which contains a form, where User can enter a Username & Password
             This then calls the Login-Endpoint for Verification. If successful the user is taken to the moods page
             Otherwise they are returned and a hidden Error message is displayed -->
        <form class="row gy-2 gx-3 align-items-center" action="{{ url_for('login') }}" method="POST">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-text">@</div>
                    <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username"
                        name="Username">
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="autoSizingInput" placeholder="Password" name="Password">
            </div>

            <!-- Hidden Error Message that is only displayed if incorrect Username or password is entered -->
            <span class="login-error" style="display: none;">
                <p> Incorrect Username or Password </p>
            </span>


            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-login-submit">Submit</button>
            </div>
        </form>
    </div>

    <!-- Signup Container, which contains a form, where USer can enter their Username, Password
         This then calls the Sign_up-endpoint, where the information is stored to the Database,
         and then brings them to the moods page. If an error occurs such as a user already existing,
         they are redirected to the index page and an error message is displayed.-->
    <div class="Sign-Up-Container">
        <form class="row g-3 align-items-center" action="/sign_up-endpoint" method="POST">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-text">@</div>
                    <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username"
                        name="Username">
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="autoSizingInput" placeholder="Password" name="Password">
            </div>
            <div class="input-group">
                <span class="input-group-text">First and last name</span>
                <input type="text" aria-label="First name" class="form-control" name="FName">
                <input type="text" aria-label="Last name" class="form-control" name="LName">
            </div>
            <!-- Hidden Error message that is displayed, when an error occurs -->
            <span class="signup-error" style="display: none;">
                <p>Username already exists</p>
            </span>

            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-signup-submit">Sign up</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer class="bg-custom footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p class="text-center font-footer-custom">DynaPoint &copy; 2024</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>