<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation Generation in Progress</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

</head>
<body class="bg-custom">

    <!-- Hidden input to store the response data -->
    <input type="hidden" id="response-data" value="{{ response }}">

    <script>

        // When the page is loaded
        $(document).ready(function() {

            // Get the response data from the hidden input
            const responseData = $('#response-data').val();

            console.log(responseData);

            // Send a POST request when the page is loaded
            $.ajax({
                type: 'POST',
                url: '/presentation_generating_in_progress_endpoint',
                data: {
                    'response': responseData
                },
                success: function(data) {
                    // Handle success response
                    $('body').html(data);
                },
                error: function() {
                    // Handle error response
                    alert('Error occurred while generating presentation.');
                }
            });
        });
    </script>


    <div class="container-fluid content">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center font-header-custom">Presentation generation in Process</h1>
                    <h2 class="text-center font-header-custom-2">Please wait...</h2>
                </div>
            </div>

            <!-- Image -->
            <div class="img-container">
                <div class="row">
                    <div class="col-12">
                        <iframe src="../static/Images/image_from_pixabay_loading.gif" width="512" height="512"></iframe>
                    </div>
                </div>
            </div>
    </div>

</body>
<footer>
    <div class="container-fluid footer ">
        <div class="row">
            <div class="col-12">
                <p class="text-center">Copyright &#169 Created by Darren McMenamin</p>
            </div>
        </div>
    </div>
</footer>
</html>