{% extends "base.html" %}
{% set navbar_included = True %}

{% block title %}Presentation Created{% endblock %}

{% block content %}
<!-- Main Content -->
    <div class="container-fluid content">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center font-header-custom">Congratulations - your presentation has been
                    created successfully</h1>
                <h2 class="text-center font-header-custom-2">Please check your download folder</h2>
            </div>
        </div>


        <!-- Image -->
        <div class="img-container">
            <div class="row">
                <div class="col-12">
                    <img src="../static/Images/image_from_pixabay_completed.gif" class="img-front-page"
                         alt="Animated Image of a Download" width="512" height="512">
                </div>
            </div>
        </div>
    </div>
{% endblock %}