{% extends "base.html" %}
{% set navbar_included = False %}

{% block title %} Presentation Generation in Progress {% endblock %}

{% block content %}
    <!-- Hidden input to store the response data -->
    <input type="hidden" id="response-data" value="{{ response }}">

    <script>

        // When the page is loaded
        $(document).ready(function() {

            // Get the response data from the hidden input
            const responseData = $('#response-data').val();

            // Send a POST request when the page is loaded
            $.ajax({
                type: 'POST',
                url: '/presentation_generating_in_progress_endpoint',
                data: {
                    'response': responseData
                },
                success: function(data) {
                    // Handle success response
                    $('body').html(data);
                },
                error: function() {
                    // Handle error response
                    alert('Error occurred while generating presentation.');
                }
            });
        });
    </script>


    <div class="container-fluid content">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center font-header-custom">Presentation generation in Process</h1>
                    <h2 class="text-center font-header-custom-2">Please wait...</h2>
                </div>
            </div>

            <!-- Image -->
            <div class="img-container">
                <div class="row">
                    <div class="col-12">
                        <iframe src="../static/Images/image_from_pixabay_loading.gif" width="512" height="512"></iframe>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}